@(members:List[Member])
@for(member <- members){
<li role="presentation">
    <a role="menuitem" tabindex="-1">
        <div>
            @member.firstName @member.lastName
        </div>
        <div>
            @member.constituency
        </div>
        <div>
            @member.party
        </div>
    </a>
</li>
}