<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>My Politician</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static "mypolitician/css/main.css" %}" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            
            <div class="header row spaced">
                <!--div class="col-md12"-->
                    <div class="col-md-5 spaced">
                        <h3 class="text-muted">My Politician</h3>
                    </div>
                    <div class="col-md-5 spaced">
                        <form action="" >
                            <div class="input-group">
                                <input id="searchbox" type="Search" placeholder="Search..." class="form-control dropdown-toggle"/>
                                <ul id="searchbox-dropdown" class="dropdown-menu" role="menu" aria-labelledby="searchbox">
                                    
                                </ul>
                                <div class="input-group-btn">
                                    <button class="btn btn-info">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="col-md-2 spaced"><a class="btn btn-lg btn-success" href="#">Sign in</a></p>
                <!--/div-->
            </div>  

            <div class="event-container">
 
                {% for division in divisions %}

                <div class="parliament-event row">
                    
                    <div class="col-md-9">
                        <p class="event-text">{{division.debate.title}}</p> 
                        <p> ayes : {{ division.ayes.count }} </p>
                        <p> noes : {{ division.noes.count }} </p>
                    </div>
                    
                </div>

                {% endfor %}

            </div>



            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>

        </div> 
        <script src="{% static "jquery/jquery-1.10.2.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script src="{% static "mypolitician/js/main.js" %}"></script>
        <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>
