<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>

<body>
    <form action="" method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
      <label for="password">Password:</label>
      <input id="password" type="text" name="password">
      <input type="submit" value="Login">
    </form>
</body>

</html>
