<!--div-->
{% for politician in politicians %}
<li role="presentation">
    <a role="menuitem" tabindex="-1">
        <div>
            {{politician.first_name}} {{politician.last_name}}
        </div>
        <div>
            {{politician.constituency}}
        </div>
        <div>
            {{politician.party}}
        </div>
    </a>
</li>
{% endfor %}
<!--/div-->